# 拡張子
*~
*csv
*pkl
*feather
*pth
*ph
*log
*model
*bin
*jpg
*npy
*png
*xml


# ファイル
scribble.py
test.py

# フォルダ
papers/

# 一時ファイル
__pycache__/
temp/


# IDE
.idea/
.vscode/


# データ
input/
model_trained/
